<!-- templates/registration/password_reset_requesthtml -->
{% extends "base.html" %}
{% load crispy_forms_tags %}}
{% block title %}Password Change Request Email Sent{% endblock title %}
{% block content %}

<style>
    .center {
            margin: auto;
            text-align: center;
            width: 100%;
            padding: 10px;
     }
</style>

<div class="center">
    <h2>Please check your email.</h2>
    <p>You should find a link and instructions to change your password!</p>
</div>
{% endblock content %}