<!-- templates/home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<style>
    .center {
            margin: auto;
            text-align: center;
            width: 100%;
            padding: 10px;
            }
</style>

<div class="center">
    <h3>Welcome to Something Fishy!</h3>
</div>


{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p>How are you today?</p>

{% else %}
<p>You are not logged in</p>
{% endif %}
<br>
<div class="center">
    <p>Haven't authenticated Spotify yet? Do so on the <a href="/about">About</a> page!</p>
</div>

<div class="center">
    <p>Have any questions or comments for the developers?</p>
</div>
<br>
<div class="text-center">
    <a class="btn btn-success" role="button" href="https://www.youtube.com/watch?v=xm3YgoEiEDc">Email Us!</a>
</div>

{% endblock content %}