<!-- templates/random.html -->


<style>

.button {
    background-color: green;
    border-radius: 2px;
    margin-left: 50px;
    }

</style>
{% extends "base.html" %}

{% block title %}Go Phish Random Image{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<br>
<p>Need to incorporate random images and music functionality.</p>
<p>{{ imagefile.name }}</p>
<img src="{{ imagefile.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
</div>

<br><br><br>
<div class="text-center">
    <a class="btn btn-success" role="button" href="{% url "social:begin" "spotify" %}">Authenticate Spotify</a>
</div>


{% else %}
<p>You are not logged in</p>
{% endif %}

{% endblock content %}